.button-bar {
    display: flex;
    align-items: center;
    gap: $gap-xl;


    background-color: $-c-gray-3;
    border-radius: $border-radius;

    h2 {
        color: $-c-gray-1;
        font-size: 30px;
        text-align: center;
        flex: 1 1 0;

        

    }



}