body {
  font-family: $default-font-stack;
  background-color: $-c-black;
  height: 100vh;
}

.editor-page {
  height: 100vh;
  padding: $gap-m;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 60px 1fr;
  gap: $gap-m;


  .search-bar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .image-gallery {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .button-bar {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .render-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $-c-gray-3;

    display: flex;
    flex-direction: column;
    padding: $gap-m;

  }

  .control-panel {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $-c-gray-3;
  }






}
