body {
  font-family: $default-font-stack;
  background-color: $-c-black;
  height: 100vh;
}

.editor-page {
  max-height: 100%;
  height: 100vh;
  padding: $gap-m;
  

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 60px 1fr;
  gap: $gap-m;


  .search-bar.artist{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .image-gallery {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .button-bar {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;


    .search-bar {
      flex: 2 2 0;
      gap: $gap-m;

      &.verified input {
        border: 2px solid $-c-accent;

      }
    }

    p {
      color: $-c-accent;
      white-space: nowrap;
      width:0;
      overflow: hidden;
      transition: width 0.5s ease; // Add this line

      &.verified {
        width:100px;
      }
    }

  }

  .render-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $-c-gray-3;

    display: flex;
    flex-direction: column;
    gap: $gap-m;
    padding: $gap-m;
    padding-top: 0;
    border-radius: 6px;

    .prompt-bar {
      @media (min-aspect-ratio: 90/55) {
        display: none; 
      }
    }

  }

  .control-panel {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $-c-gray-3;
    overflow-y: auto;
    border-radius: 6px;
  


    display: flex;
    flex-direction: column;
    gap: $gap-m;
    padding: $gap-m;

      .prompt-bar {
        max-height: 200px;
        flex-grow: 1;
        display: none;

        @media (min-aspect-ratio: 90/55) {
          display:block; 
        }

      }

      .weight-mixer {
      }

      .history-viewer {
        flex-grow: 1;
        background-color: $-c-gray-2;
        overflow-y: scroll;
    
      }

      .submit-render-button {
        height: 100px;
        border-radius: $border-radius;
        border: 2px solid $-c-accent;

        background-color: $-c-gray-2;
        color: $-c-accent;
        font-size: 20px;
        font-weight: $font-weight-heavy;

      

        &:hover {
          background-color: $-c-accent;
          color: $-c-gray-2;
        }

        &.active {
          background-color: $-c-accent;
          color: $-c-gray-2;
        }
        
      }
  }






}
