body {
  font-family: $default-font-stack;
  background-color: $-c-black;
  height: 100vh;
}

.editor-page {
  height: 100vh;
  padding: $gap-m;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 60px 1fr;
  gap: $gap-m;


  .search-bar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .image-gallery {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .button-bar {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    .search-bar {
      flex-grow: 2;
    }
  }

  .render-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $-c-gray-3;

    display: flex;
    flex-direction: column;
    gap: $gap-m;
    padding: $gap-m;

    .prompt-bar {
      @media (min-aspect-ratio: 90/55) {
        display: none; 
      }
    }

  }

  .control-panel {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $-c-gray-3;

    display: flex;
    flex-direction: column;
    gap: $gap-m;
    padding: $gap-m;

      .prompt-bar {
        max-height: 200px;
        flex-grow: 1;
        display: none;

        @media (min-aspect-ratio: 90/55) {
          display:block; 
        }

      }

      .weight-mixer {
      }

      .history-viewer {
        flex-grow: 1;
        background-color: $-c-gray-2;
      }

      .submit-render-button {
        height: 100px;
        border-radius: $border-radius;
        border: 2px solid $-c-accent;

        background-color: $-c-gray-2;
        color: $-c-accent;
        font-size: $font-size-large;
        font-weight: $font-weight-heavy;

        &:hover {
          background-color: $-c-accent;
          color: $-c-gray-2;
        }
        
      }
  }






}
